body{
    background-color: #f0f0f0;
    font-family: "verdana", sans-serif;
    margin: 0;
    padding: 20px;
    display :flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 100vh;
}

#state {
    font-size: 10em;
    margin-bottom: 20px;
}

.butstyle {
    background-color: rgb(58, 58, 143); /* Green */
    border: 3.5px solid #7a7a7a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
form{
    background-color: #fff;
    font-family: "verdana", sans-serif;
    margin: 0;
    padding: 20px;
    display :flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}