body{
    background-color: #f0f0f0;
    font-family: "verdana", sans-serif;
    margin: 0;
    padding: 20px;
    display :flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    height: 100vh;
}

#state {
    font-size: 10em;
    margin-bottom: 20px;
}

.butstyle {
    background-color: rgb(58, 58, 143); /* Green */
    border: 3.5px solid #7a7a7a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
form{
    background-color: #fff;
    font-family: "verdana", sans-serif;
    margin: 0;
    padding: 20px;
    display :flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}
.box {
    width: 200px;
    height:200px;
    margin: 10px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#myBox {
    display : flex;
    align-items : center;
    justify-content : center;
    height : 100px;
    width: 100px ;
    font-family:Arial,sans-serif;
    font-size:2.5rem ;
    background-color: darkseagreen;
    border:none;
    text-align: center;
    font-weight:bold;

}
#letter1{
    background-color: red; 
    font-size: 3.5rem;
}
#letter2{
    background-color: blue;
    font-size: 3.5rem;
}
#letter3{
    background-color: purple;
    font-size: 3.5rem;                          
}
#letter4{
    background-color: brown;
    font-size: 3.5rem;
}
#letter5{
    background-color: orange;
    font-size: 3.5rem;
}
#letter6{
    background-color: green;
    font-size: 3.5rem;
}
#letter7{
    background-color: black;
    font-size: 3.5rem;
}